{{ form_start(form) }}

                               <label>Montant *</label>
                               {{ form_widget(form.montant) }}
                          
                       
               
                            <label>Date encaissement </label>
                            {{ form_widget(form.date) }}
                                                         
         <br>

        <button style ="font-size: 1.475rem;margin-bottom: 10px" class="btn btn-info btn-sm">{{ button_label|default('Enregistrer') }}  </button>
   
    {{ form_end(form) }}
    


