
{% block content %}
<h1 align="center">Réclamation  </h1>
<body >
    <table class="border" width="60%" align="center" >
        <tbody>
        
        <tr>
            <th>Nom </th>
            <td>{{ Reclamation.nom }}</td>

        </tr>
        <tr>
            <th>prenom</th>
            <td>{{ Reclamation.prenom }}</td>
        </tr>


        <tr>
            <th>email</th>
            <td>{{ Reclamation.email }}</td>
        </tr>

        <tr>
            <th>Immatriculation</th>
            <td>{{ Reclamation.Immatriculation }}</td>
        </tr>
       <tr>
            <th>tel</th>
            <td>{{ Reclamation.tel }}</td>
        </tr>
        <tr>
            <th>Immatriculation</th>
            <td>{{ Reclamation.immatriculation }}</td>
        </tr>
        <tr>
            <th>Responsable</th>
            <td>{{ Reclamation.Responsable }}</td>
        </tr>


        <tr>
            <th>Desciption</th>
            <td>{{ Reclamation.Desciption }}</td>

        </tr>


        </tbody>
    </table>


{% endblock %}
