{{ form_start(form) }}

                               <label>Nom *</label>
                               {{ form_widget(form.nom) }}
                         
                           
                               
                               <label>Fréquence *</label>
                               {{ form_widget(form.frequence) }}
        <br>                  
        <button style ="font-size: 1.475rem;margin-bottom: 10px" class="btn btn-info btn-sm">{{ button_label|default('Enregistrer') }}  </button>
  
    {{ form_end(form) }}
    


