{{ form_start(form) }}

                               <label>Nom *</label>
                               {{ form_widget(form.nom) }}
<br>
                               <label>Date fondation </label>
                               {{ form_widget(form.dateFondation) }}
<br>
                               <label>Adresse</label>
                               {{ form_widget(form.adresse) }}
              <br>
       <button style ="font-size: 1.475rem;margin-bottom: 10px" class="btn btn-info btn-sm">{{ button_label|default('Enregistrer') }}  </button>

    {{ form_end(form) }}
    