
{{ form_start(form) }}
                                <label>Année </label>
                               {{ form_widget(form.annee) }}
                               <label>Montant initiale*</label>
                               {{ form_widget(form.montantInitiale) }}
                        
                               <label>Montant fréquence *</label>
                               {{ form_widget(form.montantFrequence) }}
                           
                           
                      <br>
        <button style ="font-size: 1.475rem;margin-bottom: 10px" class="btn btn-info btn-sm">{{ button_label|default('Enregistrer') }}  </button>
    {{ form_end(form) }}
    


