{% extends 'base.html.twig' %}

{% block title %}Prime{% endblock %}

{% block body %}
    <h1>Prime</h1>
<body class="hold-transition sidebar-mini">
        <div class="content-wrapper">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prime.id }}</td>
            </tr>
            <tr>
                <th>MontantInitiale</th>
                <td>{{ prime.montantInitiale }}</td>
            </tr>
            <tr>
                <th>MontantFrequence</th>
                <td>{{ prime.montantFrequence }}</td>
            </tr>
            <tr>
                <th>MontantPayer</th>
                <td>{{ prime.montantPayer }}</td>
            </tr>
            <tr>
                <th>BonusMaluse</th>
                <td>{{ prime.bonusMaluse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('prime_index') }}">back to list</a>

    <a href="{{ path('prime_edit', {'id': prime.id}) }}">edit</a>
</div>
    {{ include('prime/_delete_form.html.twig') }}
{% endblock %}
